shopfloor/__pycache__/*.pcy
shopfloor/__pycache__/*.py
shopfloor/__pycache__/admin.cpython-36.pyc
shopfloor/__pycache__/models.cpython-36.pyc
shopfloor/*.pyc
shopfloor/migrations/
shopfloor/migrations/*.pyc
shopfloor/migrations/*.py
shopfloor/migrations/__pycache__/*.pcy
db.sqlite3