{% extends "base.html" %}

{% block title %}
Serial number List
{% endblock %}

<!-- <span class="glyphicon glyphicon-ok text-success icon-4x"></span> -->

{% block content %}
<main role="main" class="container">

    <h3 class="mt-5">Serial Number List</h3>
    <div class="row">
		<table class="table table-hover">
		  <thead >
		    <tr>
		      <th scope="col">Number</th>
		      <th scope="col">WorkOrder</th>
		      <th scope="col">Reg. Date</th>
		      <th scope="col">On Wip</th>
		      <th scope="col">Current Opr</th>
		    </tr>
		  </thead>
		  <tbody>
   		{% for object in object_list %}
			 <tr>
		      <td><a href="{{ object.get_absolute_url }}">{{object.number}}</a></td>
		      <td>{{object.workorder}}</td>
		      <td>{{object.registered_date}}</td>
		      <td>
		      	{% if object.wip == True %}
					 		Yes
					 	{% else %}
					 		No
					 	{% endif%}

		      </td>
		      <td>{{object.current_operation}}</td>
		    </tr>
			
		{% endfor %}
		</tbody>
		</table>

	</div>
</div>
{% endblock content %}