{% extends "base.html" %}

{% block title %}
Serialnumber List
{% endblock %}




{% block content %}
<main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">World class Manufaturing Platform</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">

        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>WIP Report</h2>
            <p>Show Work-in-process of each operation with Aging information.</p>
            <p><a class="btn btn-secondary" href="report/wip/" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Unit Performing</h2>
            <p>Show unit serial number tracking performing record for each operation with performing information.</p>
            <p><a class="btn btn-secondary" href="serialnumber/" role="button">View detail &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Yield Report</h2>
            <p>Show operation performance</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h2>Failure Analysis</h2>
            <p>Show failure information and defect information.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Component Traceability</h2>
            <p>Show component that assembled to unit , unit assmbly history. Direct and In-direct association.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Parametric Traceability</h2>
            <p>Show parametric of performing data</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->
      </main>
{% endblock content %}